<div>
  <div>
    <h1 class="text-center">{{tituloFluxo}}</h1>
    <div class="container">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a routerLink="/processos/cadastro-processo/{{idFluxo}}" class="btn btn-outline-primary">Novo processo</a>
        <a href="/fluxos/lista-fluxos" class="btn btn-outline-danger">Voltar</a>
      </div>
    </div>
    <div class="tree">
      <ul>
        <li>
          <ul>
            <ng-container
              *ngFor="let processo of processos"
              [ngTemplateOutlet]="Recursivo"
              [ngTemplateOutletContext]="{ $implicit: processo }"></ng-container>

            <ng-template #Recursivo let-data>
              <li>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{data.nome}}</h5>
                  <p class="card-text">{{tipoProcesso[data.tipoProcesso]}}</p>
                    <div class="d-grid gap-2">
                      <a routerLink="/processos/cadastro-processo/{{idFluxo}}/{{data.id}}" class="btn btn-outline-success">Adicionar sub processo</a>
                      <a routerLink="/processos/editar-processo/{{idFluxo}}/{{data.id}}" routerLinkActive="router-link-active"  class="btn btn-outline-warning">Editar</a>
                      <a (click)="deletarProcesso(data)" class="btn btn-outline-danger">Remover</a>
                    </div>
                  </div>
                </div>

                <ul *ngIf="data.subProcessos">
                  <ng-container
                    *ngFor="let subProcessos of data.subProcessos"
                    [ngTemplateOutlet]="Recursivo"
                    [ngTemplateOutletContext]="{ $implicit: subProcessos }"></ng-container>
                </ul>
              </li>
            </ng-template>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
